@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    160 S Cypress St<br />
    Orange, CA 92866<br />
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:contact@itmentors.com">contact@itmentors.com</a>
</address>